body,
.dcg-header-link-dropdown,
.dcg-language-picker-dropdown,
.dcg-language-picker-dropdown,
.dcg-popover-title,
.dcg-shared-modal-contents-wrapper,
.dcg-shared-bg-line span,
.dcg-contest-info-right,
.dcg-contest-info-left {
    background: #131213 !important;
    color: #eee !important;
}

.dcg-art-outer-wrapper,
.dcg-main-header-container,
.dcg-footer-main-content-container {
    background: #1f1e1f !important;
}

.dcg-log-in,
.dcg-header-center-content span,
.dcg-header-link-dropdown ul li a,
.dcg-icon-print,
.dcg-icon-world,
.dcg-icon-rocket,
.dcg-icon-lock,
.dcg-icon-accessibility,
.dcg-language-option.dcg-selected,
.dcg-app-links ,
.dcg-header-link-dropdown li,
.dcg-dropdown-link,
.dcg-classroom-card,
.dcg-header-link-title-container,
.dcg-year.dcg-selected,
.dcg-shared-profile-info-title,
.dcg-shared-profile-info-content,
.dcg-shared-account-paragraph,
.dcg-shared-change-email-description,
.dcg-component-checkbox span,
.dcg-shared-email-form-container label{
    color: #eee !important;
    opacity: 1 !important;
}

.dcg-year-picker a {
	color: #777 !important;
}

.dcg-shared-email-form-container input,
.dcg-shared-google-login,
.dcg-shared-apple-login,
.dcg-btn-gray-outline {
    background: #1f1e1f !important;
    color: #eee !important;
    border-radius: 10px !important;
}

.dcg-shared-action-password {
    color: #777 !important;
}

.dcg-shared-google-login,
.dcg-shared-apple-login,
.dcg-btn-gray-outline {
    border: 1px solid white !important;
}

.dcg-shared-apple-icon {
    mix-blend-mode: multiply;
}

.dcg-homepage-3d-header-container img {
    display: none !important;
}

.dcg-header-link-title-container:hover {
	color: #777 !important;
}

.dcg-contest-info-container .dcg-contest-info {
	background: #121211 url(/assets/img/contest/art-contest-wave-2023.png) left !important;
}

.align-right-container {
    display: flex !important;
}

.dcg-calculator-api-container-v1_10 .dcg-shared-account-dialog .dcg-shared-cookie-notice {
    border: 1px solid white !important;
    color: #eee !important;
    background: none !important;
}

.dcg-btn-blue {
    border-radius: 10px !important;
}