body,
.dcg-header-link-dropdown,
.dcg-language-picker-dropdown,
.dcg-language-picker-dropdown,
.dcg-popover-title,
.dcg-shared-modal-contents-wrapper,
.dcg-shared-bg-line span,
.dcg-contest-info-right,
.dcg-contest-info-left,
.dcg-toast,
.dcg-unstyled-list,
.dcg-footer-main-content-container,
.dcg-frontpage-landing-testing__bullet,
.dcg-frontpage-landing-section--art-contest,
.dcg-frontpage-landing__button--hero,
.dcg-dropdown-popover__interior,
.dcg-dropdown-popover__title,
.dcg-help-menu-title,
.dcg-loading-div-container,
.dcg-state-modals,
.lt-breadcrumbs-wrapper,
.lt-toc_is-mobile .lt-toc--container,
.lt-topbar__controls {
    background: #131213 !important;
    color: #eee !important;
}

.dcg-art-outer-wrapper,
.dcg-main-header-container,
.dcg-loading-background-div,
.dsm-title-version-grid,
.dsm-vc-capture-menu div,
.dsm-pi-title-row div,
.lt-search-box--small {
    background: #1f1e1f !important;
}

.dcg-log-in,
.dcg-header-center-content span,
.dcg-header-link-dropdown ul li a,
.dcg-icon-print,
.dcg-icon-world,
.dcg-icon-rocket,
.dcg-icon-lock,
.dcg-icon-table,
.dcg-icon-accessibility,
.dcg-language-option.dcg-selected,
.dcg-app-links ,
.dcg-header-link-dropdown li,
.dcg-dropdown-link,
.dcg-classroom-card,
.dcg-header-link-title-container,
.dcg-year.dcg-selected,
.dcg-shared-profile-info-title,
.dcg-shared-profile-info-content,
.dcg-shared-account-paragraph,
.dcg-shared-change-email-description,
.dcg-component-checkbox span,
.dcg-shared-email-form-container label,
.dcg-frontpage-landing-section,
.dcg-frontpage-landing-tools__link-text,
.dsm-category-header,
.dsm-plugin-header,
.dsm-plugin-description,
.dsm-settings-label,
.dcg-tooltip-hit-area-container label,
.dcg-icon-reset {
    color: #eee !important;
    opacity: 1 !important;
}

.dcg-year-picker a,
.dcg-toast a {
	color: #777 !important;
}

.dcg-toast {
    border: 1px solid white !important;
    border-radius: 10px !important;
    display: flex !important;
    flex-direction: row-reverse !important;
    width: fit-content !important;
    left: 50% !important;
    align-content: center !important;
}

.dcg-shared-email-form-container input,
.dcg-input-blue-outline,
.dcg-shared-google-login,
.dcg-shared-apple-login,
.dcg-btn-gray-outline,
.dcg-frontpage-landing-classroom__card,
.dcg-frontpage-landing-section--testing,
/* .dcg-braille-input, */
.dcg-tooltip-message {
    background: #1f1e1f !important;
    color: #eee !important;
    border-radius: 10px !important;
}

.dcg-shared-action-password {
    color: #777 !important;
}

.dcg-shared-google-login,
.dcg-shared-apple-login,
.dcg-btn-gray-outline {
    border: 1px solid white !important;
}

.dcg-shared-apple-icon {
    mix-blend-mode: multiply;
}

.dcg-homepage-3d-header-container img {
    display: none !important;
}

.dcg-header-link-title-container:hover {
	color: #777 !important;
}

.dcg-contest-info-container .dcg-contest-info {
	background: #121211 url(/assets/img/contest/art-contest-wave-2023.png) left !important;
}

.align-right-container {
    display: flex !important;
}

.dcg-shared-cookie-notice,
.pagination-next-link,
.pagination-last-link,
.pagination-prev-link,
.pagination-first-link {
    border: 1px solid white !important;
    color: #eee !important;
    background: none !important;
}

.dcg-btn-blue,
.dcg-frontpage-landing__button--hero {
    border-radius: 10px !important;
}

.dcg-dropdown-popover.dcg-bottom .dcg-arrow {
    border-bottom-color: #131213 !important;
}

.dcg-dropdown-popover.dcg-bottom .dcg-arrow:after {
    border-bottom-color: transparent !important;
}

.dcg-icon-world {
    cursor: pointer !important;
}

.dcg-calculator-api-container-v1_10 input.dcg-shared-input-blue-outline,
.dcg-calculator-api-container-v1_10 textarea.dcg-shared-input-blue-outline,
.dcg-selectable-input-container input,
.dcg-variable-htmlembedcode {
    cursor: text !important;
    background-color: #1f1e1f !important;
    color: #eee !important;
    border-radius: 10px !important;
}

.dcg-calculator-api-container-v1_10 input.dcg-shared-input-blue-outline::placeholder,
.dcg-calculator-api-container-v1_10 textarea.dcg-shared-input-blue-outline::placeholder {
    color: #777 !important;
    border-radius: 10px !important;
}

.dcg-selectable-input-container .dcg-copy-button {
    border-left: 1px solid #eee !important;
    background-color: #1f1e1f !important;
    color: #eee !important;
    border-radius: 0 10px 10px 0 !important;
}

.dcg-selectable-input-container {
    border-radius: 10px !important;
    border: 1px solid #eee !important;
}

.dcg-btn-blue,
.dcg-btn-white-outline {
    background: transparent !important;
    border: 1px solid #bbb !important;
    color: #bbb !important;
    transition: 0.2s !important;
}

.dcg-btn-blue:hover,
.dcg-btn-white-outline:hover {
    border: 1px solid #eee !important;
    color: #eee !important;
    transition: 0.2s !important;
}

.dcg-frontpage-landing-interactive--2d {
    opacity: 0 !important;
}

.dcg-frontpage-landing-section__column--right,
.dcg-frontpage-landing__graph-links {
    display: none !important;
}

.dcg-frontpage-landing-section__subheader {
    margin: 20px 0px !important;
}

.dsm-plugin-section, .dsm-category-section {
    border-top: 1px solid #131213 !important;
}

.dcg-toggle-track {
    background: #131213 !important;
}

.dcg-toggle-view .dcg-toggle-switch {
    background: #666 !important;
}

.dcg-toggle-view.dcg-toggled .dcg-toggle-switch {
    background: #ccc !important;
}

.dcg-select-dropdown-container {
    color: #000 !important;
}

.dcg-trip-interior {
    background: #131213 !important;
    color: #eee !important;
    border: 3px solid #eee !important;
}

.dcg-trip-arrow {
    border-right-color: #eee !important;
}

.lt-search-result__text em {
    background-color: #424242 !important;
}