.dcg-p-tag div,
.dcg-p-tag,
.section-interior h1,
.section-interior h2,
.perk,
.perk h4,
.section-interior,
.dcg-page-info,
.dcg-grid-item,
.dcg-page-section-container h3,
.dcg-page-section-container ul li {
    color: #eee !important;
}

.careers-hero {
    background: #1f1e1f !important;
}

.white-background {
    display: none !important;
}

.dividing-line {
    background: #eee !important;
}

.lt-topbar,
.lt-footer {
    background: #1f1e1f !important;
    color: #eee !important;
}

.dcg-background--light-blue,
.dcg-facts-wrapper {
    background: #131213 !important;
}
.dcg-searchable-dropdown-list-container {
    color: #000 !important;
}