body,
.dcg-header-link-dropdown,
.dcg-language-picker-dropdown {
	background: #131213 !important;
}

.dcg-main-header-container,
.dcg-keypad-btn.dcg-btn-light-on-gray,
.dcg-latex-expression,
.dcg-keypad-control-bar {
	background: #1f1e1f !important;
}

.dcg-scientific-container,
.dcg-basic-list-container,
.dcg-basic-keypad-container,
.dcg-matrix-container,
.dcg-matrix-list-container,
.dcg-matrix-list-placeholder,
.dcg-popover-interior {
	background: #1f1e1f !important;
	border: none !important;
}

.dcg-calculator-api-container-v1_11
	.dcg-basic-list-container
	.dcg-basic-list-placeholder,
.dcg-keypad-control-bar {
	border: none !important;
}

.dcg-calculator-api-container-v1_10,
.dcg-calc-basic-main-wrapper,
.dcg-basic-list-container,
.dcg-keypad-btn,
.dcg-calc-basic-main {
	background: transparent !important;
}

.dcg-basic-list-container,
.dcg-matrix-list-container {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.dcg-scientific-container {
	padding: 10px !important;
	border-radius: 10px !important;
	border: 1px solid #333 !important;
}

.dcg-scientific-container:before {
	content: "" !important;
	width: 580px !important;
	height: 24px !important;
	pointer-events: none !important;
	position: absolute !important;
	top: 10px !important;
	left: 10px !important;
	right: 10px !important;
	background: linear-gradient(to bottom, #1f1e1f, #fff0) !important;
	z-index: 1 !important;
}

.dcg-basic-list-container::-webkit-scrollbar,
.dcg-matrix-list-container::-webkit-scrollbar {
	display: none;
}

.dcg-calculator-api-container-v1_10 .dcg-container {
	background: none !important;
	border: none !important;
}

.dcg-desmos-svg-logo {
	filter: brightness(200%);
}

.dcg-log-in,
.dcg-header-center-content span,
.dcg-mq-root-block .dcg-mq-empty span,
.dcg-answer-hint,
.dcg-mq-root-block span,
.dcg-mq-root-block var,
.dcg-keypad-btn-content,
.dcg-keypad-control-btn.dcg-selected.dcg-selectable-btn,
.dcg-keypad-control-btn.dcg-selectable-btn,
.dcg-keypad-control-btn,
.dcg-header-link-dropdown ul li a,
.dcg-classroom-about-link-dropdown-container div,
.dcg-unstyled-list li div,
.dcg-language-picker-dropdown,
.dcg-calculator-api-container-v1_10
	.dcg-language-picker
	.dcg-language-option.dcg-depressed,
.dcg-calculator-api-container-v1_10
	.dcg-language-picker
	.dcg-language-option.dcg-selected,
.dcg-popover-title,
.dcg-icon-world,
.dcg-icon-print,
.dcg-icon-fraction,
.dcg-resize-section,
.dcg-popover-interior {
	color: #eee !important;
}

.dcg-keypad-control-btn.dcg-disabled,
.dcg-calculator-api-container-v1_10 .dcg-language-picker .dcg-language-option,
.dcg-basic-calculator-footer a {
	color: #777 !important;
}

.dcg-calculator-api-container-v1_10 .dcg-basic-expression,
.dcg-latex-expression {
	border: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.dcg-calculator-api-container-v1_10
	.dcg-container
	.dcg-mq-editable-field:not(.dcg-no-fadeout):after,
.dcg-calculator-api-container-v1_10
	.dcg-container
	.dcg-mq-editable-field:not(.dcg-no-fadeout)
	.dcg-mq-root-block.dcg-mq-editing-overflow-left:before,
.dcg-matrix-api-container-v1_10
	.dcg-container
	.dcg-mq-editable-field:not(.dcg-no-fadeout):after,
.dcg-calculator-api-container-v1_11
	.dcg-container
	.dcg-mq-editable-field:not(.dcg-no-fadeout):after {
	background: linear-gradient(to right, #fff0, #1f1e1f) !important;
}

.dcg-calculator-api-container-v1_11
	.dcg-container
	.dcg-mq-editable-field:not(.dcg-no-fadeout)
	.dcg-mq-root-block.dcg-mq-editing-overflow-left:before {
	background: linear-gradient(to left, #fff0, #1f1e1f) !important;
}

.dcg-calculator-api-container-v1_10 .dcg-basic-expression.dcg-focused,
.dcg-basic-expression.dcg-focused {
	border-color: #aaa !important;
	box-shadow: inset 0 0 0 0px #fff !important;
}

.dcg-basic-expression {
	border-color: #aaa !important;
	border-radius: 5px !important;
	margin-top: 5px !important;
}

.dcg-popover-title {
	background: none !important;
}

.dcg-basic-fraction-toggle {
	border: 1px solid #eee !important;
}

.dcg-matrix-api-container-v1_10
	.dcg-keypad-control-btn:not(.dcg-disabled):not(.dcg-menu-btn):not(
		.dcg-selectable-btn
	).dcg-hovered {
	box-shadow: none !important;
}

.dcg-matrix-api-container-v1_10
	.dcg-keypad-control-btn:not(.dcg-disabled):not(.dcg-menu-btn).dcg-hovered {
	background: rgba(255, 255, 255, 0.2) !important;
	border-radius: 10px !important;
	z-index: 1 !important;
}

.dcg-matrix-api-container-v1_10 .dcg-btn-blue,
.dcg-matrix-api-container-v1_10 .dcg-btn-primary {
	border: none !important;
	border-radius: 10px !important;
	z-index: 1 !important;
}

.dcg-calculator-api-container-v1_10
	.dcg-settings-dropdown.dcg-popover
	.dcg-popover-interior:after {
	border-color: #1f1e1f transparent transparent !important;
}

.dcg-calculator-api-container-v1_10
	.dcg-settings-dropdown.dcg-popover
	.dcg-popover-interior:before {
	display: none !important;
}

.dcg-segmented-control-btn {
	color: #777 !important;
	border: 1px solid #777 !important;
}

.dcg-segmented-control-btn.dcg-theme-mini.dcg-selected {
	color: #eee !important;
	border: 1px solid #eee !important;
	background: #1f1e1f !important;
}

.dcg-calculator-api-container-v1_10
	.dcg-keypad-control-bar
	.dcg-keypad-control-btn:not(
		.dcg-disabled
	).dcg-selectable-btn.dcg-selected:after,
.dcg-calculator-api-container-v1_10
	.dcg-keypad-control-bar
	.dcg-keypad-control-btn:not(.dcg-disabled).dcg-selectable-btn:after {
	border-radius: 4px !important;
}
