:root {
    --background: #fff;
    --secondary: #eff2f3;
    --secondaryText: #555;
    --text: #000;
}

body {
    background: var(--background) !important;
}

.dcg-main-header-container {
    background: var(--secondary) !important;
}

.dcg-header-center-content span,
.dcg-header-right-content span {
    color: var(--secondaryText) !important;
}

.dcg-calc-basic-main {
    background: var(--background) !important;
    color: var(--text);
    border: none;
    border-radius: 10px;
}

.dcg-mq-root-block {
    color: #000;
}

.dcg-calc-basic-main {
    background: var(--background) !important;
}

.dcg-calculator-api-container .dcg-basic-keypad .dcg-keypad-btn-container .dcg-keypad-btn.dcg-btn-light-on-gray {
    background: linear-gradient(#fff, #fafafa) !important;
    color: var(--text) !important;
}

.dcg-keypad-control-btn {
    background: none !important;
    border-radius: 10px;
    border: none;
    color: var(--text) !important;
}

.dcg-basic-calculator-footer {
    color: #0003;
}

.dcg-icon-world,
.dcg-icon-print,
.dcg-icon-arrow-left,
.dcg-icon-arrow-right,
.dcg-icon-delete,
.dcg-icon-shift {
    filter: none;
}

.dcg-keypad-control-toggle {
    background: var(--background) !important;
    color: #000 !important;
    border: 1px solid rgba(0, 0, 0, .2) !important;
}

.dcg-calculator-api-container .dcg-keypad-control-bar .dcg-keypad-control-btn:not(.dcg-disabled).dcg-selectable-btn.dcg-selected:after {
    width: 75%;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

.dcg-calculator-api-container .dcg-keypad-control-bar .dcg-keypad-control-btn:not(.dcg-disabled).dcg-selectable-btn.dcg-hovered:not(.dcg-selected):after {
    width: 75%;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

.dcg-answer-hint {
    color: #000 !important;
}